<!DOCTYPE HTML>
<!--
Industrious by TEMPLATED
templated.co @templatedco
Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>Aplicações educacionais</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" href="static/css/main.css" />
</head>

<body class="is-preload">

	<!-- Header -->
	<header id="header">
		<a class="logo" href="index.html">Educação</a>
		<nav>
			<a href="#menu">Menu</a>
		</nav>
	</header>

	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="index.html">Home</a></li>
			<li><a href="experimento_strobo.html">Experimento</a></li>
			<li><a href="FAQ.html">FAQ</a></li>
			<li><a href="Sugestoes.html">Sugestões</a></li>
		</ul>
	</nav>

	<!-- Heading -->
	<div id="heading">
		<h1>FAQ</h1>
	</div>

	<!-- Main -->
	<section id="main" class="wrapper">
		<div class="inner">
			<div class="content">
				<h1>Dúvidas básicas</h1>
				<dl>
					<dt>Qual é o custo para acessar o experimento?</dt>
					<dd>
						<p>Este experimento possui as premissas de software livre. Portanto, trata-se de um
							experimento de acesso livre com objetivo principal de incentivo a educação.</p>
					</dd>
					<dt>Quais foram as tecnologias utilizadas para desenvolver o experimento?</dt>
					<dd>
						<p>Para verificar as informações técnicas acesse o repositório no  <a href="https://github.com/RemoteApplication/Strobo">GITHUB</a> deste experimento.</p>
					</dd>
					<dt>Qual a indicação de grau de instrução para utilizar o experimento?</dt>
					<dd>
						<p>Este experimento é indicado para qualquer grau de instrução. Para melhor entendimento do experimento acessa a página com <a href="https://remoteapplication.github.io/Strobo/teoria.html">explicações teóricas</a>.</p>
					</dd>
				</dl>


			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<div class="copyright">
				Acesse o experimento no <a href="https://github.com/RemoteApplication/Strobo">Github</a>.
			</div>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/browser.min.js"></script>
	<script src="static/js/breakpoints.min.js"></script>
	<script src="static/js/util.js"></script>
	<script src="static/js/main.js"></script>
</body>

</html>
