<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Aplicações educacionais</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="index.html">Educação</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="Experimento.html">Experimento</a></li>
					<li><a href="FAQ.html">FAQ</a></li>
					<li><a href="Sugestoes.html">Sugestões</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>Infraestrutura de internet das coisas aplicada a laboratórios remotos usando webrtc e microsserviços</h1>
					<p></p>
				</div>
				<video autoplay loop muted playsinline src="static/images/banner.mp4"></video>
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Objetivos</h2>
						<p>Aplicar os conceitos e ferramentas de IoT para definir artefatos de projeto para uma infraestrutura de laboratórios remotos, especificamente definindo as características necessárias para a implementação de uma plataforma para cadastro de laboratórios remotos.</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="software.html" class="icon fa-camera fa-3x"><span class="label">Icon</span></a>
									<h3>Arquitetura de software e WebRTC</h3>
								</header>
								<p>Modelagem de software e as influências de um mau gerenciamento.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="iot.html" class="icon fa-cogs"><span class="label">Icon</span></a>
									<h3>Internet das Coisas</h3>
								</header>
								<p>Arquitetura, ferramentas, definições.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="labremotos.html" class="icon fa-files-o"><span class="label">Icon</span></a>
									<h3>Laboratórios remotos</h3>
								</header>
								<p>Arquitetura, objetivo de uso e aplicações.</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<span class="image fit"><img src="static/images/diagram.png" alt="" /></span>
				</div>
			</section>

		<!-- Testimonials -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>xxx</h2>
						<p>xxx</p>
					</header>
					<ul class="actions fit">
										<li><a href="experimento_strobo.html" class="button primary fit small">Acesse o experimento</a></li>
				  </ul>
			</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<div class="copyright">
				Acesse o experimento no <a href="https://github.com/RemoteApplication/Strobo">Github</a>.
			</div>
		</div>
	</footer>


		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>
