<!DOCTYPE HTML>
<!--
Industrious by TEMPLATED
templated.co @templatedco
Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>Aplicações educacionais</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" href="static/css/main.css" />
</head>

<body class="is-preload">

	<!-- Header -->
	<header id="header">
		<a class="logo" href="index.html">Educação</a>
		<nav>
			<a href="#menu">Menu</a>
		</nav>
	</header>

	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="index.html">Home</a></li>
			<li><a href="experimento_strobo.html">Experimento</a></li>
			<li><a href="FAQ.html">FAQ</a></li>
			<li><a href="Sugestoes.html">Sugestões</a></li>
		</ul>
	</nav>

	<!-- Heading -->
	<div id="heading">
		<h1>Arquitetura de software e WebRTC</h1>
	</div>

	<!-- Main -->
	<section id="main" class="wrapper">
		<div class="content">
			<h2>Definições de Software</h2>
			<!-- Lists -->
			<div class="row">
				<div class="col-6 col-12-small">
					<h4>Arquitetura de software</h4>
					<ul class="alt">
						<li>Serviço Web: Back-end e Front-end.</li>
						<li>Arquitetura híbrida entre microsserviços e baseado em eventos.</li>
						<li>Serviços de mensagens.</li>
					</ul>
				</div>
				<div class="col-6 col-12-small">
					<h4>WebRTC e WebSocket</h4>
					<ul class="alt">
						<li>Transmissão de streaming.</li>
						<li>Não necessita de aplicativos extras.</li>
						<li>Possibilita melhor latência.</li>
					</ul>
				</div>
		</div>	
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<div class="copyright">
				Acesse o experimento no <a href="https://github.com/RemoteApplication/Strobo">Github</a>.
			</div>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/browser.min.js"></script>
	<script src="static/js/breakpoints.min.js"></script>
	<script src="static/js/util.js"></script>
	<script src="static/js/main.js"></script>
</body>

</html>
